<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2bvo9lShcYMTxDYWiZtZVqC-GQTZ6Uz4</string>
	<key>GCM_SENDER_ID</key>
	<string>75624281491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trentiums.crm</string>
	<key>PROJECT_ID</key>
	<string>crm-app-efa90</string>
	<key>STORAGE_BUCKET</key>
	<string>crm-app-efa90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75624281491:ios:96bde111e9ca95a03e2466</string>
</dict>
</plist>